html,
body,
div,
p,
li,
ol,
h1,
h2 {
    margin: 0;
    padding: 0;
    line-height: 1;
    -webkit-text-size-adjust: none;
}

body {
    font: 62.5% 'lucida grande', sans-serif;
    background: #FFF;
    color: #000;
}

#logo {
    width: 200px;
    height: 60px;
    margin: 4.5em auto 4.5em auto;
    font-size: 1.1em;
    background: #FFF url(../images/mimir.png) center center no-repeat;
    text-indent: -10000px;
}

/* General Content -------------------------------------------------------- */

#content {
    padding: 0 2.0em;
    max-width: 90.0em;
    margin: 3.0em auto;
}

/* Headings */

h2 {
    margin: 1.2em 0;
    font-size: 1.1em;
}

h2 a {
    text-decoration: none;
    font-weight: bold;
    color: #469295;
}

h2 a span {
    font-weight: normal;
    color: #AAA;
}

/* Textblocks */

p,
li {
    font-size: 1.1em;
}

/* Lists ------------------------------------------------------------------ */

ol {
    padding: 0 0 0 3.0em;
    margin: 0 0 1.2em;
    color: #AAA;
}

ol li {
    position: relative;
    margin: 0;
    line-height: 1.5em;
    border-bottom: 1px solid #EEE;
    padding: 0.3em 0;
}

ol li.hn {
    padding-right: 8.0em;
}

ol li.attention {
    border-color: #CCC;
}

ol li a {
    display: inline-block;
    padding: 0.3em 0;
    text-decoration: none;
    font-weight: bold;
    color: #444;
}

ol li a:visited {
    color: #AAA;
}

/* New Additions */

ol li.new-additions > a {
    background: #FFC;
}

ol li.new-additions > a:visited {
    color: #888;
}

/* Comments */

.comments {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    line-height: 1.5em;
}

.comments p {
    display: none;
}

.comments a {
    display: block;
    width: 16px;
    height: 16px;
    color: #999;
    background: url(../images/icons/comment.png) center center no-repeat;
    text-indent: -10000px;
    padding: 0.6em 0;
}

/* Read More/Less */

.more {
    text-align: center;
    margin: 0 0 1.2em;
}

.more a {
    font-weight: bold;
    text-decoration: none;
    color: #AAA;
    display: inline-block;
    padding: 0.6em 0.8em;
}

.more a:after {
    content: " —";
    color: #DDD;
}

.more a:before {
    content: "— ";
    color: #DDD;
}
